/* MYERS RESET */

html,
body,
div,
span,
applet,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}


/* remember to define focus styles! */

:focus {
    outline: 0;
}

body {
    background: white;
    line-height: 1;
    color: black;
}

ol,
ul {
    list-style: none;
}


/* tables still need cellspacing="0" in the markup */

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}


/* remove possible quote marks (") from <q> & <blockquote> */

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

* {
    box-sizing: border-box;
    max-width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
}


/*FONTS*/

@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Staatliches&display=swap');

/*Header Section Styles*/

header {
    background: #a28089;
}

h1 {
    font-family: 'Staatliches', cursive;
    font-size: 7rem;
    padding: .5% 2%;
}

nav {
    display: flex;
    margin: .5% 4% 0 4%;
}

nav a {
    width: 7%;
    padding: .5% 0;
    margin: .5% 0;
    border: 1px solid black;
    background: white;
    color: black;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    border: 1px solid white;
    background: black;
    color: white;
}


/*Top Section Styles*/

#top {
    display: flex;
    background: #edf7f6;
    padding: 1%;
}

#top-pic {
    width: 20%;
    padding: 1%;
}

#top-text h2 {
    font-family: 'Staatliches', cursive;
    font-size: 4rem;
    padding: 2% 0;
    margin: 2% 0;
}

#top-text {
    width: 40%;
    padding: 2%;
    margin: 2% 0;
}

#top-text a {
    width: 7%;
    padding: 2%;
    margin: 1% 0;
    border: 1px solid black;
    background: white;
    color: black;
    text-decoration: none;
    text-align: center;
}

#top-text a:hover {
    border: 1px solid white;
    background: black;
    color: white;
}

#top-text p {
    padding: 4% 0;
}


/*Gallery Section Styles*/

#gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    background: #edf7f6;
}

#gallery img {
    width: 100%;
}

#gallery img:hover {
    border: 1px solid black;
    border-radius: 10%;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
}

#hpbaby,
#owl,
#scientist,
#lego,
#perry,
#finn,
#wizard,
#hp {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    margin: 1%;
}


/*Footer Section Styles*/

footer {
    background: #a28089;
    padding: 3% 0;
    font-size: 2rem;
}

#contact {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

#contact p {
    padding: 1% 0;
}

#contact a {
    width: 8%;
    padding: .5%;
    margin: 1% 0 1% 0;
    border: 1px solid black;
    background: white;
    color: black;
    text-decoration: none;
    text-align: center;
}

#contact a:hover {
    border: 1px solid white;
    background: black;
    color: white;
}

#social img {
    width: 15%;
    margin: 2%;
    padding: 2%;
}

#social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}